# Importing Libraries

In [110]:
import pandas as pd
import numpy as np

In [111]:
df = pd.read_csv("/content/user_song_recommendation.csv")

In [112]:
df.head()

    msno  song_id genre_ids  artist_name  language
0  20752   327118      1609  New Arcades        52
1  17118   327118      1609  New Arcades        52
2  14262   327118      1609  New Arcades        52
3  20834   327118      1609  New Arcades        52
4  27224   327118      1609  New Arcades        52

In [113]:
df_grouped = df.groupby("msno")["song_id"].count()

In [114]:
df_grouped.head()

msno
0    48
1    39
2    17
3     4
4    37
Name: song_id, dtype: int64

In [115]:
df_grouped.shape

(27054,)

In [116]:
df_grouped = pd.DataFrame(df_grouped)

In [117]:
df_grouped.head()

      song_id
msno
0          48
1          39
2          17
3           4
4          37

In [118]:
df_grouped['drop'] = 0

In [119]:

df_grouped.loc[df_grouped['song_id']<10,'drop'] = 1

In [120]:
df_grouped.head()

      song_id  drop
msno
0          48     0
1          39     0
2          17     0
3           4     1
4          37     0

In [121]:
df_grouped['drop'].value_counts()

0    18841
1     8213
Name: drop, dtype: int64

In [122]:
index_names = df_grouped[ df_grouped['drop'] == 1 ].index

In [123]:
df_grouped.drop(index_names, inplace = True)

In [124]:
df_grouped.head()

      song_id  drop
msno
0          48     0
1          39     0
2          17     0
4          37     0
10        106     0

In [126]:
df_grouped=df_grouped.drop('song_id', axis=1)

In [127]:
df = pd.merge(df, df_grouped, on='msno', how='inner')

In [128]:
df.shape

(1016063, 6)

In [129]:
df.isnull().sum()

msno           0
song_id        0
genre_ids      0
artist_name    0
language       0
drop           0
dtype: int64

In [130]:
df=df.drop('drop',axis=1)

In [131]:
df['check']=None

In [132]:
df.head()

    msno  song_id genre_ids       artist_name  language check
0  17118   327118      1609       New Arcades        52  None
1  17118   193295      2022  Bowling For Soup        52  None
2  17118    77389       465       Karyn White        -1  None
3  17118   212013       958   Various Artists        -1  None
4  17118   251338       465   Brazilian Girls        52  None

In [134]:
df['check']=df['check'].fillna(1)

In [135]:
df.head()

    msno  song_id genre_ids       artist_name  language  check
0  17118   327118      1609       New Arcades        52      1
1  17118   193295      2022  Bowling For Soup        52      1
2  17118    77389       465       Karyn White        -1      1
3  17118   212013       958   Various Artists        -1      1
4  17118   251338       465   Brazilian Girls        52      1

In [194]:
listOfMsnos = df['msno'].unique()

In [136]:
user_song_matrix = df.pivot_table(
    index='msno', 
    columns='song_id', 
    values='check',
    aggfunc='sum'
)

In [137]:
user_song_matrix

song_id,967,2087,2448,2545,2631,2741,2791,2971,3282,4482,...,352746,353428,354326,355913,355998,356718,357893,358169,358514,358991
msno,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30746,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30749,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30751,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
user_song_matrix=user_song_matrix.fillna(0)

In [139]:
user_song_matrix

song_id,967,2087,2448,2545,2631,2741,2791,2971,3282,4482,...,352746,353428,354326,355913,355998,356718,357893,358169,358514,358991
msno,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30746,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30749,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30751,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30753,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# # Collaborative_Filtering

In [140]:
from sklearn.metrics.pairwise import cosine_similarity

In [141]:
user_user_sim_matrix = pd.DataFrame(
    cosine_similarity(user_song_matrix)
)

In [142]:
user_user_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,18831,18832,18833,18834,18835,18836,18837,18838,18839,18840
0,1.000000,0.161788,0.175035,0.237289,0.280386,0.264619,0.425628,0.301511,0.180334,0.252591,...,0.102062,0.348155,0.387298,0.396788,0.346552,0.258199,0.311805,0.222324,0.231455,0.192450
1,0.161788,1.000000,0.116510,0.315899,0.186636,0.293568,0.236096,0.195123,0.250078,0.040032,...,0.301941,0.466711,0.310316,0.440196,0.274618,0.035806,0.222375,0.134535,0.042796,0.266880
2,0.175035,0.116510,1.000000,0.159490,0.070671,0.282958,0.250319,0.168880,0.075755,0.000000,...,0.114332,0.292509,0.216930,0.289886,0.249567,0.108465,0.224544,0.101885,0.194461,0.323381
3,0.237289,0.315899,0.159490,1.000000,0.319357,0.136999,0.363590,0.085855,0.154049,0.246598,...,0.309994,0.429591,0.392114,0.392989,0.338330,0.110282,0.481979,0.230205,0.131812,0.219199
4,0.280386,0.186636,0.070671,0.319357,1.000000,0.161881,0.358021,0.050724,0.121351,0.242821,...,0.137361,0.292854,0.318540,0.255400,0.216546,0.260623,0.389669,0.299216,0.077876,0.113317

In [143]:
user_user_sim_matrix.columns = user_song_matrix.index

In [144]:
user_user_sim_matrix[0]

0        1.000000
1        0.161788
2        0.175035
3        0.237289
4        0.280386
           ...
18836    0.258199
18837    0.311805
18838    0.222324
18839    0.231455
18840    0.192450
Name: 0, Length: 18841, dtype: float64

In [145]:
user_user_sim_matrix['msno'] = user_song_matrix.index

In [146]:
user_user_sim_matrix = user_user_sim_matrix.set_index('msno')

In [147]:
user_user_sim_matrix.head()

msno,0,1,2,4,10,11,12,13,15,16,...,30739,30740,30742,30743,30744,30745,30746,30749,30751,30753
msno,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.161788,0.175035,0.237289,0.280386,0.264619,0.425628,0.301511,0.180334,0.252591,...,0.102062,0.348155,0.387298,0.396788,0.346552,0.258199,0.311805,0.222324,0.231455,0.192450
1,0.161788,1.000000,0.116510,0.315899,0.186636,0.293568,0.236096,0.195123,0.250078,0.040032,...,0.301941,0.466711,0.310316,0.440196,0.274618,0.035806,0.222375,0.134535,0.042796,0.266880
2,0.175035,0.116510,1.000000,0.159490,0.070671,0.282958,0.250319,0.168880,0.075755,0.000000,...,0.114332,0.292509,0.216930,0.289886,0.249567,0.108465,0.224544,0.101885,0.194461,0.323381
4,0.237289,0.315899,0.159490,1.000000,0.319357,0.136999,0.363590,0.085855,0.154049,0.246598,...,0.309994,0.429591,0.392114,0.392989,0.338330,0.110282,0.481979,0.230205,0.131812,0.219199
10,0.280386,0.186636,0.070671,0.319357,1.000000,0.161881,0.358021,0.050724,0.121351,0.242821,...,0.137361,0.292854,0.318540,0.255400,0.216546,0.260623,0.389669,0.299216,0.077876,0.113317

# Making Recommendations

In [148]:
ser_user_sim_matrix.loc[2]

msno
0        0.175035
1        0.116510
2        1.000000
4        0.159490
10       0.070671
           ...
30745    0.108465
30746    0.224544
30749    0.101885
30751    0.194461
30753    0.323381
Name: 2, Length: 18841, dtype: float64

In [187]:
user_user_sim_matrix

msno,0,1,2,4,10,11,12,13,15,16,...,30739,30740,30742,30743,30744,30745,30746,30749,30751,30753
msno,,,,,,,,,,,,,,,,,,,,,
0,1.000000,0.161788,0.175035,0.237289,0.280386,0.264619,0.425628,0.301511,0.180334,0.252591,...,0.102062,0.348155,0.387298,0.396788,0.346552,0.258199,0.311805,0.222324,0.231455,0.192450
1,0.161788,1.000000,0.116510,0.315899,0.186636,0.293568,0.236096,0.195123,0.250078,0.040032,...,0.301941,0.466711,0.310316,0.440196,0.274618,0.035806,0.222375,0.134535,0.042796,0.266880
2,0.175035,0.116510,1.000000,0.159490,0.070671,0.282958,0.250319,0.168880,0.075755,0.000000,...,0.114332,0.292509,0.216930,0.289886,0.249567,0.108465,0.224544,0.101885,0.194461,0.323381
4,0.237289,0.315899,0.159490,1.000000,0.319357,0.136999,0.363590,0.085855,0.154049,0.246598,...,0.309994,0.429591,0.392114,0.392989,0.338330,0.110282,0.481979,0.230205,0.131812,0.219199
10,0.280386,0.186636,0.070671,0.319357,1.000000,0.161881,0.358021,0.050724,0.121351,0.242821,...,0.137361,0.292854,0.318540,0.255400,0.216546,0.260623,0.389669,0.299216,0.077876,0.113317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30745,0.258199,0.035806,0.108465,0.110282,0.260623,0.298142,0.263752,0.194625,0.104765,0.111803,...,0.105409,0.179787,0.300000,0.347440,0.153393,1.000000,0.241523,0.125245,0.179284,0.111803
30746,0.311805,0.222375,0.224544,0.481979,0.389669,0.257172,0.568770,0.134304,0.240981,0.424334,...,0.254588,0.341178,0.552052,0.479512,0.370479,0.241523,1.000000,0.345709,0.164957,0.180021
30749,0.222324,0.134535,0.101885,0.230205,0.299216,0.163366,0.289044,0.097503,0.131212,0.245049,...,0.132020,0.253320,0.313112,0.251048,0.168102,0.125245,0.345709,1.000000,0.074848,0.163366
30751,0.231455,0.042796,0.194461,0.131812,0.077876,0.356348,0.197028,0.093048,0.041739,0.066815,...,0.125988,0.107443,0.119523,0.287494,0.275010,0.179284,0.164957,0.074848,1.000000,0.089087
30753,0.192450,0.266880,0.323381,0.219199,0.113317,0.111111,0.196589,0.348155,0.182203,0.125000,...,0.117851,0.368514,0.273297,0.278887,0.171499,0.111803,0.180021,0.163366,0.089087,1.000000

In [186]:
user_user_sim_matrix.loc[2].sort_values(ascending=False).index[2]

22264

In [62]:
song_list = np.array(user_song_matrix.loc[15475])

In [63]:
np.where(song_list == 1)[0]

array([ 89, 250, 326, 443, 534, 615])

In [57]:
df=pd.DataFrame(song_list)

In [59]:
df[0].value_counts()

0.0    648
1.0      6
Name: 0, dtype: int64

In [151]:
songs_listened_user1 = set(user_song_matrix.loc[1].iloc[
    user_song_matrix.loc[1].to_numpy().nonzero()
].index)
songs_listened_user1

{2791,
 7191,
 23497,
 34669,
 45909,
 52412,
 68740,
 77927,
 87335,
 92377,
 101401,
 101603,
 116775,
 119518,
 127701,
 136455,
 141311,
 151490,
 172657,
 175398,
 176256,
 177427,
 180945,
 181045,
 187205,
 193295,
 199868,
 225454,
 231723,
 243649,
 253142,
 267050,
 286172,
 286887,
 295291,
 310928,
 313171,
 314456,
 357893}

In [152]:
songs_listened_user2 = set(user_song_matrix.loc[799].iloc[
    user_song_matrix.loc[799].to_numpy().nonzero()
].index)
songs_listened_user2

{2791,
 19421,
 23497,
 29069,
 34669,
 45909,
 52412,
 57877,
 61506,
 68740,
 75292,
 77927,
 101035,
 101401,
 101603,
 102543,
 102967,
 116775,
 119598,
 127701,
 136455,
 141311,
 149825,
 151490,
 170622,
 175398,
 176256,
 176363,
 177427,
 181045,
 189345,
 193198,
 227529,
 230572,
 231723,
 232751,
 237680,
 253142,
 261818,
 266235,
 276554,
 286172,
 286887,
 302575,
 304420,
 310928,
 313171,
 327118,
 334734,
 338865,
 348995,
 357893,
 358169}

In [153]:
songs_to_recommend = songs_listened_user1 - songs_listened_user2

In [172]:
result= df.loc[
    df['song_id'].isin(songs_to_recommend), 
    ['song_id', 'artist_name','genre_ids','msno']
].drop_duplicates().set_index('song_id')[:5]

In [173]:
result

                  artist_name  genre_ids   msno
song_id
193295       Bowling For Soup       2022  17118
243649                  Civic       1259  17118
267050            Chris Chips       1259  17118
187205        Various Artists  1616|2058  17118
7191     James Fortune & FIYA    880|102  17118

In [174]:
index = range(0,5)

In [175]:
result['song_id'] = result.index

In [176]:
result['index']=index

In [177]:
result=result.set_index('index')

In [178]:
result

                artist_name  genre_ids   msno  song_id
index
0          Bowling For Soup       2022  17118   193295
1                     Civic       1259  17118   243649
2               Chris Chips       1259  17118   267050
3           Various Artists  1616|2058  17118   187205
4      James Fortune & FIYA    880|102  17118     7191

# Function to Recommend Top 5 Similar Songs

In [188]:
def getMostSimilarUser(msno_user1):
   return user_user_sim_matrix.loc[msno_user1].sort_values(ascending=False).index[2]

In [190]:
print(getMostSimilarUser(2))

22264

In [191]:
def recommend(msno_user1,msno_user2,indexstart,indexend):
  songs_listened_user1 = set(user_song_matrix.loc[msno_user1].iloc[user_song_matrix.loc[msno_user1].to_numpy().nonzero()].index)
  songs_listened_user2 = set(user_song_matrix.loc[msno_user2].iloc[user_song_matrix.loc[msno_user2].to_numpy().nonzero()].index)
  songs_to_recommend = songs_listened_user1 - songs_listened_user2
  result= df.loc[df['song_id'].isin(songs_to_recommend), ['song_id', 'artist_name','genre_ids','msno']].drop_duplicates().set_index('song_id')[:5]
  index = range(indexstart,indexend)
  result['song_id'] = result.index
  result['index']=index
  result=result.set_index('index')
  return result

In [192]:
d = recommend(1,799,0,5)

In [193]:
d

                artist_name  genre_ids   msno  song_id
index
0          Bowling For Soup       2022  17118   193295
1                     Civic       1259  17118   243649
2               Chris Chips       1259  17118   267050
3           Various Artists  1616|2058  17118   187205
4      James Fortune & FIYA    880|102  17118     7191

In [197]:
final = pd.DataFrame()

In [198]:
indexstart = 0
indexend = 5

In [199]:
for i in listOfMsnos:
  user2 = getMostSimilarUser(i)
  res = recommend(i,user2,indexstart,indexend)
  final = pd.concat([final, res],axis=0)
  indexstart=indexstart + 5
  indexend = indexend + 5

<ipython-input-191-8c332185de62>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['song_id'] = result.index
<ipython-input-191-8c332185de62>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['index']=index

In [200]:
final

           artist_name    genre_ids     msno   song_id
index
0      Various Artists          958  17118.0  212013.0
1      Brazilian Girls          465  17118.0  251338.0
2        Joshua Hyslop          822  17118.0  154868.0
3         Da Lench Mob         1259  17118.0  205605.0
4      Minnie Riperton  139|125|109  17118.0    7693.0
...                ...          ...      ...       ...
94200      Dirty South         1609  17118.0  141311.0
94201        Lindemann         2022  17118.0   23497.0
94202        Lindemann         2022  10387.0   23497.0
94203      Dirty South         1609   7703.0  141311.0
94204        Lindemann         2022   7703.0   23497.0

[94205 rows x 4 columns]

In [201]:
final.to_csv('result_recommendation.csv')